body {
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
input,
form,
button,
p {
  font-family: "Sen", sans-serif;
  font-size: 1.3em;
}

div {
  font-family: "Sen", sans-serif;
}

h1 {
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.3em;
}

em {
  font-size: 2em;
  font-style: normal;
}

p {
  font-size: 1em;
}

b {
  font-weight: 700;
}

form {
  font-size: 1em;
}

input {
  font-family: "Caveat", cursive;
  font-size: 2em;
}

textarea:focus,
input:focus {
  outline: none;
}

button,
.button {
  border: none;
  padding: 10px;
  color: white;
  background: linear-gradient(to bottom right, #d62346, #f0aa71);
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.75);
  margin-right: 5px;
  margin-bottom: 5px;
}

.aws-btn {
  --slider-height-percentage: 100%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 6px;
  --organic-arrow-border-radius: 25px;
  --organic-arrow-height: 40px;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #2d5182;
  --control-bullet-active-color: #26456f;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}

.organic-arrow {
  color: #ff0da5;
}

.awssld {
  --organic-arrow-color: #d62346 !important;
  --content-background-color: rgba(0, 0, 0, 0) !important;
}

.awssld__controls button {
  background: none !important;
  box-shadow: none !important;
}

.awssld__content {
  align-items: flex-start !important;
  /* height */
}

.awssld__box {
  /* height: 0; */
}

.awssld__container {
  height: 100vh !important;
}

.carousel,
.carousel__slider--horizontal {
  height: 100% !important;
  overflow: scroll !important;
}

html {
  scroll-behavior: smooth;
}

.carousel__slider-tray-wrap--horizontal {
  overflow-x: hidden;
}
